CONFIG_BOARD_TYPE_DOIT_ESP32S3_EYE_6824_V2=y
CONFIG_LCD_ST7796_240X240=y
CONFIG_SPEAKING_FIRST_MUTE_TIME=60
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="components/doit_min_program_upload/16m_min_programe_psd.csv"
CONFIG_PARTITION_TABLE_FILENAME="components/doit_min_program_upload/16m_min_programe_psd.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000

CONFIG_SUPPORT_MINI_PROGRAMS_REPLACE_PSD=y
CONFIG_USE_PSD_MULTIPLE=y
CONFIG_USE_PSD_MULTIPLE_NUM=3

CONFIG_USE_ESP_WAKE_WORD=n
CONFIG_USE_AFE_WAKE_WORD=n
CONFIG_USE_AUDIO_PROCESSOR=n
CONFIG_USE_AUDIO_DEBUGGER=n

CONFIG_USE_BLUFI_NET_CONFIGURING=y

# blufi support, need enable USE_BLUFI_NET_CONFIGURING
CONFIG_MBEDTLS_DHM_C=y
CONFIG_MBEDTLS_HARDWARE_MPI=n
CONFIG_BT_GATTC_ENABLE=n
CONFIG_BT_BLE_SMP_ENABLE=n
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_GAP_SERVICE=y
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_50_FEATURE_SUPPORT=n
CONFIG_BT_NIMBLE_SECURITY_ENABLE=n
CONFIG_BT_NIMBLE_CRYPTO_STACK_MBEDTLS=n
CONFIG_BT_NIMBLE_BLUFI_ENABLE=y
CONFIG_BT_CTRL_RUN_IN_FLASH_ONLY=y
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_ATT_PREFERRED_MTU=20
CONFIG_IPC_TASK_STACK_SIZE=1024
CONFIG_MQTT_USE_CUSTOM_CONFIG=y
CONFIG_MQTT_TASK_STACK_SIZE=3072
CONFIG_TCPIP_TASK_STACK_SIZE=2048
CONFIG_PTHREAD_TASK_STACK_SIZE_DEFAULT=3072